@font-face {
    font-family: 'Cardo';
    src: url('./fonts/Cardo/Cardo-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('./fonts/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Mea Culpa';
    src: url('./fonts/Mea_Culpa/MeaCulpa-Regular.ttf') format('truetype');
    font-weight: normal;
}

*{
    box-sizing: border-box;
}

body{
    -webkit-font-smoothing: antialiased;

    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    font-family: 'Cardo', serif;

    background-image: url('./imgs/bg_flowers.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

button{
    all: unset;

    display: flex;
    height: 34px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    align-self: stretch;
    background-color: #FFFFFF;
    box-shadow: 0 -1px 7.6px 3px rgba(0, 0, 0, 0.25) inset;

    font-family: 'Cardo', serif;
    color: #6a6a6a;
    font-size: 20px;
    line-height: 20px;
}

.title-bar{
    height: 46px;
    background-image: url('./imgs/title_lace.png');
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-app-region: drag;
}


#minimize, #close {
    -webkit-app-region: no-drag;

    height: 22px;
    width: 23px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    font-family: 'Silkscreen', monospace;
    font-size: 23px;

    color: #6a6a6a;
    cursor: pointer;

    border: 1px solid #6A6A6A;
    background-color: #d9d9d9;
    box-shadow: none;

    padding-bottom: 2px;
}

#minimize{
    position: absolute;
    top: 12px;
    left: 46px;
}

#close{
    position: absolute;
    top: 12px;
    left: 12px;
}

.window{
    display: flex;
    flex-direction: row;

    padding-left: 12px;
    padding-right: 35px;
    margin-bottom: 13px;
    gap: 35px;

    height: 348px;
}

.sidebar{
    width: 197px;
    border: 1px solid #5D5D5D;
    background: #D9D9D9;
}

.menu{
    margin-top: 47px;
    margin-left: 12px; 
    width: 173px;
    margin-right: 12px;
    border: 1px solid #5D5D5D;
}

.menu button{
    width: 100%;
    border-top: 1px solid #5D5D5D;
}

.menu button:first-of-type{
    border-top: none;
}

#menu-svg{
    position: absolute;
    left: 86px;
    top: 53px;
    height: 52px;
}

#lanterns{
    position: absolute;
    top: -4px;
    left: 209px;
    width: 116px;
}

h1{
    font-family: 'Mea Culpa', cursive ;
    font-size: 46px;
    font-weight: 400;
}

#main-card{
    background-color: #d9d9d9;
    display: flex;
    width: 394px;
    height: 209px;


    justify-content: center;
    align-items: center;

    margin-top: 46px;
    margin-bottom: 12px;

    box-shadow: 0 -1px 7.6px 3px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid #5D5D5D;
}

.pick-button{
    width: 394px;
    height: 58px;
    background-color: #A4A3A3;
    color: #fff;
    border: 1px solid #5D5D5D;
}

#main-screen-frame{
    position: absolute;
    left: 499px;
    top: 35px;
    width: 190px;
}

#main-screen-menu-line{
    position: absolute;
    top: 209px;
    left: 17px;


    width: 186px;
    height: 1px;

    background-color: #5d5d5d;
}


/* ---------- CRT EFFECT ---------- */

@keyframes flicker {
    0%   { opacity: 0.02; }
    10%  { opacity: 0.04; }
    20%  { opacity: 0.02; }
    30%  { opacity: 0.06; }
    40%  { opacity: 0.03; }
    50%  { opacity: 0.05; }
    60%  { opacity: 0.02; }
    70%  { opacity: 0.04; }
    80%  { opacity: 0.03; }
    90%  { opacity: 0.05; }
    100% { opacity: 0.02; }
}

@keyframes textShadow {
    0% {
        text-shadow:
            0.4px 0 1px rgba(0, 30, 255, 0.25),
            -0.4px 0 1px rgba(255, 0, 80, 0.15);
    }

    10% {
        text-shadow:
            1.2px 0 1px rgba(0, 30, 255, 0.25),
            -1.2px 0 1px rgba(255, 0, 80, 0.15);
    }

    20% {
        text-shadow:
            0.2px 0 1px rgba(0, 30, 255, 0.2),
            -0.2px 0 1px rgba(255, 0, 80, 0.12);
    }

    30% {
        text-shadow:
            1.4px 0 1px rgba(0, 30, 255, 0.25),
            -1.4px 0 1px rgba(255, 0, 80, 0.15);
    }

    40% {
        text-shadow:
            0.5px 0 1px rgba(0, 30, 255, 0.2),
            -0.5px 0 1px rgba(255, 0, 80, 0.12);
    }

    50% {
        text-shadow:
            0.1px 0 1px rgba(0, 30, 255, 0.15),
            -0.1px 0 1px rgba(255, 0, 80, 0.1);
    }

    60% {
        text-shadow:
            1px 0 1px rgba(0, 30, 255, 0.25),
            -1px 0 1px rgba(255, 0, 80, 0.15);
    }

    70% {
        text-shadow:
            0.3px 0 1px rgba(0, 30, 255, 0.2),
            -0.3px 0 1px rgba(255, 0, 80, 0.12);
    }

    80% {
        text-shadow:
            1.2px 0 1px rgba(0, 30, 255, 0.25),
            -1.2px 0 1px rgba(255, 0, 80, 0.15);
    }

    90% {
        text-shadow:
            0.2px 0 1px rgba(0, 30, 255, 0.2),
            -0.2px 0 1px rgba(255, 0, 80, 0.12);
    }

    100% {
        text-shadow:
            0.4px 0 1px rgba(0, 30, 255, 0.25),
            -0.4px 0 1px rgba(255, 0, 80, 0.15);
    }
}

.crt {
    position: relative;
    animation: textShadow 1.6s infinite;
}

/* subtle screen flicker */
.crt::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(18, 16, 16, 0.05);

    opacity: 0;
    z-index: 2;
    pointer-events: none;

    animation: flicker 0.2s infinite;
}

/* scanlines + very subtle RGB tint */
.crt::before {
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            rgba(18, 16, 16, 0) 50%,
            rgba(0, 0, 0, 0.06) 50%
        ),
        linear-gradient(
            90deg,
            rgba(255, 0, 0, 0.02),
            rgba(0, 255, 0, 0.01),
            rgba(0, 0, 255, 0.02)
        );

    background-size: 100% 2px, 3px 100%;

    z-index: 2;
    pointer-events: none;
}

#history-main-content{
    flex: 1;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#history-main-content::-webkit-scrollbar{
    display: none;
}

.scroll-track{

    width: 23px;
    height: 100%;

    position: relative;

    background: #fff;
    border: 1px solid #5d5d5d;

}

.scroll-thumb {
    position: absolute;

    top: 2px;
    left: 2px;

    width: 17px;

    height: 10px;

    background: #ddd;

    border: 1px solid #222;

    box-sizing: border-box;

    cursor: grab;
}

.scroll-thumb:active {
    cursor: grabbing;
}

.history-card p {
    font-family: 'Silkscreen', fantasy;
    font-size: 16px;
    margin-block: 0px;
}

.history-card-meal{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    padding-inline: 13px;
    padding-block: 13px;
    border: 1px solid #5d5d5d;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
}

.rating{
    display: flex;
    align-items: center;
    gap: 3px;
}

.rating img {
    height: 17px;
    width: 17px;
}

#lace-bow{
    position: absolute;
    top: 0px;
    left: 341px;
    height: 407px;
}

#thinking-main-content{
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    width: 393px;
    height: 267px;
    border: 1px solid #5d5d5d;
    box-shadow: 0 -1px 7.6px 3px rgba(0, 0, 0, 0.25) inset;

    font-family: 'Mea Culpa', cursive;
    font-size: 46px;

    align-items: center;
    justify-content: center;

    margin-top: 23px;;
}

#thinking-main-content img{
    width: 278px;
}

#thinking-main-content div{
    display: flex;
    flex-direction: column;
    align-items: center;
}